.container {
    display: flex;
    align-items: center;
    height: 62px;
    margin: 10px 0;
}

.headrow1 {
    flex: 2;
    margin-left: 20px;
}

.stagename {
    font-size: 2rem;
}

.iconcontainer {
    flex: 1;
    margin-left: 20px;
    display: flex;
}

.iconwrap {
    display: flex;
    margin-left: 0px;
}

.icon {
    font-size: 2rem;
    margin-right: 6px;
}

.text {
    font-size: 2rem;
    margin-right: 20px;
}

.headrow3 {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .stagename {
        font-size: 1.8rem;
    }

    .icon {
        font-size: 1.8rem;
        margin-right: 6px;
    }
    
    .text {
        font-size: 1.8rem;
        margin-right: 20px;
    }

    .headrow1 {
        margin-left: 20px;
    }

    .iconcontainer {
        margin-left: 20px;  
    }
    
    .container {
        display: flex;
        justify-content:space-between;
    }

    .headrow3 {
        display: none;
    }
   
}