.container {
    display: flex;
    justify-content: flex-end;
    margin: 40px 0px;
}

.link {
    width: 86px;
    height: 30px;
    margin-right: 40px;
}

.btnThoat {
    width: 86px;
    height: 30px;
    background-color: #e52222;
    cursor: pointer;
    border-radius: 4px;
}
.btnLuu {
    width: 86px;
    height: 30px;
    background-color: #4dd597;
    margin-right: 5%;
    cursor: pointer;
    border-radius: 4px;
}
