@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");


.body {
  background-image: url("https://img.thuthuatphanmem.vn/uploads/2018/11/11/hinh-nen-mau-xanh-co-ba-la_051046139.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}
